* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app {
  padding: 1em;
  max-width: 600px;
  margin: auto;
}
.win-display {
  border-radius: 1em;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  z-index: 100;
}
.title {
  text-align: center;
  color: black;
  margin: 0.5em;
}
h1 {
  font-size: 3rem;
}

.stats-controls {
  text-align: center;
}
.stats,
.controls {
  display: inline-block;
  margin: 0.5em;
}

.card-grid {
  border-radius: 1em;
  background-image: linear-gradient(to bottom right, red, yellow, red);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  padding: 1em;
  grid-gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
